<div class="container">
  <form action="/bikes/addBike" method="POST" enctype="multipart/form-data">
    <label for="bikename">Bike Name</label>
    <input type="text" id="bikename" name="bikename" placeholder="Bike Name">

    <label for="modelyear">Model Year</label>
    <input type="text" id="modelyear" name="lastname" placeholder="Bike Model Year">

    <label for="tramsmission">Tramsmission</label>
    <input type="text" id="transmission" name="transmission" placeholder="Transmission">
    
    <label for="price">Price</label>
    <input type="text" id="price" name="price" placeholder="Bike Price/Hr">

    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="Bike City">

    <label for="bikeimage">Bike Image</label>
    <input type="file" id="myFile" name="filename">

    
    <input type="submit" value="Submit">
  </form>